<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
          <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7839824351646295" data-ad-slot="00000000"
        data-ad-format="auto"></ins>
    </div>
    <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>


    <div class="social-links">
      {%- include social.html -%}
    </div>

    <div class="not-by-ai>
      <a href=" https://notbyai.fyi"><img alt="Written by human, not by AI" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMxIiBoZWlnaHQ9IjQyIiB2aWV3Qm94PSIwIDAgMTMxIDQyIiBmaWxsPSJ
        ub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC44MD
        cxNjcgMC42NjM4NzlIMTE1Ljk1MUMxMjMuOTU5IDAuNjYzODc5IDEzMC40NTEgNy4xNTU3NSAxM
        zAuNDUxIDE1LjE2MzlWNDEuMzM3OUgxNS4zMDcyQzcuMjk5MDQgNDEuMzM3OSAwLjgwNzE2NyAz
        NC44NDYgMC44MDcxNjcgMjYuODM3OVYwLjY2Mzg3OVoiIGZpbGw9IndoaXRlIiBzdHJva2U9ImJ
        sYWNrIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPS
        JNMzMuMDM3NSAyMS4zMzk2QzMzLjAzNzUgMjYuNTg1IDI4Ljc4NTIgMzAuODM3MyAyMy41Mzk4I
        DMwLjgzNzNDMTguMjk0NCAzMC44MzczIDE0LjA0MjIgMjYuNTg1IDE0LjA0MjIgMjEuMzM5NkMx
        NC4wNDIyIDE2LjA5NDIgMTguMjk0NCAxMS44NDIgMjMuNTM5OCAxMS44NDJDMjguNzg1MiAxMS4
        4NDIgMzMuMDM3NSAxNi4wOTQyIDMzLjAzNzUgMjEuMzM5NlpNMzUuMTk1OSAyMS4zMzk2QzM1Lj
        E5NTkgMjcuNzc3MSAyOS45NzczIDMyLjk5NTcgMjMuNTM5OCAzMi45OTU3QzE3LjEwMjQgMzIuO
        Tk1NyAxMS44ODM4IDI3Ljc3NzEgMTEuODgzOCAyMS4zMzk2QzExLjg4MzggMTQuOTAyMiAxNy4x
        MDI0IDkuNjgzNTkgMjMuNTM5OCA5LjY4MzU5QzI5Ljk3NzMgOS42ODM1OSAzNS4xOTU5IDE0Ljk
        wMjIgMzUuMTk1OSAyMS4zMzk2Wk0xNy45MjUyIDI0LjAzMzJDMjEuNDM4MyAyNi44NzgxIDI2Lj
        Q2MjUgMjYuODc4MSAyOS45NzU2IDI0LjAzMzJMMjguNjE3MyAyMi4zNTU4QzI1Ljg5NjIgMjQuN
        TU5MyAyMi4wMDQ2IDI0LjU1OTMgMTkuMjgzNSAyMi4zNTU4TDE3LjkyNTIgMjQuMDMzMlpNMTku
        Mzg4MyAyMC4zMzk3VjE3LjQyMzdIMjEuNTQ2N1YyMC4zMzk3SDE5LjM4ODNaTTI2LjA4NTkgMTc
        uNDIzN1YyMC4zMzk3SDI4LjI0NDNWMTcuNDIzN0gyNi4wODU5WiIgZmlsbD0iYmxhY2siLz4KPH
        BhdGggZD0iTTQ4LjA3NjEgMjIuMjEyMkM0OS4wNjQ0IDIyLjIxMjIgNDkuODcxNSAyMi40NzI1I
        DUwLjQ5NzIgMjIuOTkzQzUxLjEyODggMjMuNTA3NiA1MS40NDQ2IDI0LjM2NDQgNTEuNDQ0NiAy
        NS41NjMzVjMyLjAwMjFINDguODgzMVYyNi4xODYxQzQ4Ljg4MzEgMjUuNjgzMSA0OC44MTU5IDI
        1LjI5NzIgNDguNjgxNCAyNS4wMjgxQzQ4LjQzNTggMjQuNTM2OSA0Ny45Njc5IDI0LjI5MTMgND
        cuMjc3OCAyNC4yOTEzQzQ2LjQyOTggMjQuMjkxMyA0NS44NDc5IDI0LjY1MDkgNDUuNTMyMSAyN
        S4zNzAzQzQ1LjM2ODQgMjUuNzUwNCA0NS4yODY1IDI2LjIzNTggNDUuMjg2NSAyNi44MjY1VjMy
        LjAwMjFINDIuNzk1MlYyMi40NTc5SDQ1LjIwNzZWMjMuODUyN0M0NS41MjkyIDIzLjM2MTQgNDU
        uODMzMyAyMy4wMDc2IDQ2LjExOTkgMjIuNzkxMkM0Ni42MzQ1IDIyLjQwNTIgNDcuMjg2NiAyMi
        4yMTIyIDQ4LjA3NjEgMjIuMjEyMloiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik01Ny4zMzE1I
        DMwLjIzODlDNTguMDYyNiAzMC4yMzg5IDU4LjYyNCAyOS45Nzg2IDU5LjAxNTggMjkuNDU4MUM1
        OS40MDc2IDI4LjkzNzYgNTkuNjAzNiAyOC4xOTc5IDU5LjYwMzYgMjcuMjM4OEM1OS42MDM2IDI
        2LjI3OTcgNTkuNDA3NiAyNS41NDI4IDU5LjAxNTggMjUuMDI4MUM1OC42MjQgMjQuNTA3NyA1OC
        4wNjI2IDI0LjI0NzQgNTcuMzMxNSAyNC4yNDc0QzU2LjYwMDUgMjQuMjQ3NCA1Ni4wMzYyIDI0L
        jUwNzcgNTUuNjM4NSAyNS4wMjgxQzU1LjI0NjcgMjUuNTQyOCA1NS4wNTA4IDI2LjI3OTcgNTUu
        MDUwOCAyNy4yMzg4QzU1LjA1MDggMjguMTk3OSA1NS4yNDY3IDI4LjkzNzYgNTUuNjM4NSAyOS4
        0NTgxQzU2LjAzNjIgMjkuOTc4NiA1Ni42MDA1IDMwLjIzODkgNTcuMzMxNSAzMC4yMzg5Wk02Mi
        4yMjY1IDI3LjIzODhDNjIuMjI2NSAyOC42NDIzIDYxLjgyMjkgMjkuODQ0MSA2MS4wMTU5IDMwL
        jg0NDJDNjAuMjA4OCAzMS44MzgzIDU4Ljk4MzYgMzIuMzM1NCA1Ny4zNDAzIDMyLjMzNTRDNTUu
        Njk3IDMyLjMzNTQgNTQuNDcxOCAzMS44MzgzIDUzLjY2NDcgMzAuODQ0MkM1Mi44NTc3IDI5Ljg
        0NDEgNTIuNDU0MiAyOC42NDIzIDUyLjQ1NDIgMjcuMjM4OEM1Mi40NTQyIDI1Ljg1ODYgNTIuOD
        U3NyAyNC42NjI2IDUzLjY2NDcgMjMuNjUwOUM1NC40NzE4IDIyLjYzOTIgNTUuNjk3IDIyLjEzM
        zMgNTcuMzQwMyAyMi4xMzMzQzU4Ljk4MzYgMjIuMTMzMyA2MC4yMDg4IDIyLjYzOTIgNjEuMDE1
        OSAyMy42NTA5QzYxLjgyMjkgMjQuNjYyNiA2Mi4yMjY1IDI1Ljg1ODYgNjIuMjI2NSAyNy4yMzg
        4WiIgZmlsbD0iYmxhY2siLz4KPHBhdGggZD0iTTYyLjMyMzcgMjQuMzA4OFYyMi41MjhINjMuNj
        U3VjE5Ljg2MTNINjYuMTMwOFYyMi41MjhINjcuNjgzNVYyNC4zMDg4SDY2LjEzMDhWMjkuMzYxN
        kM2Ni4xMzA4IDI5Ljc1MzUgNjYuMTgwNSAyOS45OTkxIDY2LjI3OTkgMzAuMDk4NUM2Ni4zNzk0
        IDMwLjE5MjEgNjYuNjgzNSAzMC4yMzg5IDY3LjE5MjMgMzAuMjM4OUM2Ny4yNjgzIDMwLjIzODk
        gNjcuMzQ3MiAzMC4yMzg5IDY3LjQyOTEgMzAuMjM4OUM2Ny41MTY4IDMwLjIzMyA2Ny42MDE2ID
        MwLjIyNzIgNjcuNjgzNSAzMC4yMjEzVjMyLjA4OThMNjYuNDk5MyAzMi4xMzM3QzY1LjMxNzkgM
        zIuMTc0NiA2NC41MTA5IDMxLjk2OTkgNjQuMDc4MSAzMS41MTk2QzYzLjc5NzQgMzEuMjMzMSA2
        My42NTcgMzAuNzkxNSA2My42NTcgMzAuMTk1VjI0LjMwODhINjIuMzIzN1oiIGZpbGw9ImJsYWN
        rIi8+CjxwYXRoIGQ9Ik03Ny4zNDAxIDIyLjIyOThDNzguNTk3NCAyMi4yMjk4IDc5LjU3OTkgMj
        IuNjgzIDgwLjI4NzUgMjMuNTg5NUM4MS4wMDEgMjQuNDk2IDgxLjM1NzggMjUuNjY1NiA4MS4zN
        Tc4IDI3LjA5ODRDODEuMzU3OCAyOC41ODM4IDgxLjAwNjkgMjkuODE0OSA4MC4zMDUxIDMwLjc5
        MTVDNzkuNjAzMyAzMS43NjgyIDc4LjYyMzcgMzIuMjU2NSA3Ny4zNjY0IDMyLjI1NjVDNzYuNTc
        2OSAzMi4yNTY1IDc1Ljk0MjMgMzIuMDk4NiA3NS40NjI4IDMxLjc4MjhDNzUuMTc2MiAzMS41OT
        U2IDc0Ljg2NjMgMzEuMjY4MSA3NC41MzI5IDMwLjgwMDNWMzIuMDAyMUg3Mi4wODU1VjE5LjA4O
        TNINzQuNTc2OFYyMy42ODZDNzQuODkyNiAyMy4yNDE1IDc1LjI0MDYgMjIuOTAyMyA3NS42MjA3
        IDIyLjY2ODRDNzYuMDcxIDIyLjM3NiA3Ni42NDQxIDIyLjIyOTggNzcuMzQwMSAyMi4yMjk4Wk0
        3Ni42OTk3IDMwLjE5NUM3Ny4zNDMgMzAuMTk1IDc3Ljg0MyAyOS45MzQ4IDc4LjE5OTcgMjkuND
        E0M0M3OC41NTY1IDI4Ljg5MzggNzguNzM0OCAyOC4yMDk2IDc4LjczNDggMjcuMzYxNkM3OC43M
        zQ4IDI2LjY4MzIgNzguNjQ3MSAyNi4xMjE4IDc4LjQ3MTcgMjUuNjc3M0M3OC4xMzgzIDI0Ljgz
        NTIgNzcuNTI0MyAyNC40MTQxIDc2LjYyOTUgMjQuNDE0MUM3NS43MjMgMjQuNDE0MSA3NS4xMDA
        yIDI0LjgyNjQgNzQuNzYxIDI1LjY1MUM3NC41ODU2IDI2LjA4OTYgNzQuNDk3OCAyNi42NTY5ID
        c0LjQ5NzggMjcuMzUyOEM3NC40OTc4IDI4LjE3MTUgNzQuNjc5MSAyOC44NDk5IDc1LjA0MTcgM
        jkuMzg4Qzc1LjQwNDMgMjkuOTI2IDc1Ljk1NyAzMC4xOTUgNzYuNjk5NyAzMC4xOTVaIiBmaWxs
        PSJibGFjayIvPgo8cGF0aCBkPSJNODIuODIzNCAzMy44MzU1TDgzLjEzOTIgMzMuODUzQzgzLjM
        4NDkgMzMuODY0NyA4My42MTg4IDMzLjg1NiA4My44NDEgMzMuODI2N0M4NC4wNjMyIDMzLjc5Nz
        UgODQuMjUwNCAzMy43MzAyIDg0LjQwMjQgMzMuNjI1Qzg0LjU0ODYgMzMuNTI1NSA4NC42ODMxI
        DMzLjMxNzkgODQuODA2IDMzLjAwMjFDODQuOTM0NiAzMi42ODYzIDg0Ljk4NzIgMzIuNDkzMyA4
        NC45NjM5IDMyLjQyMzJMODEuNDU1IDIyLjQ0MDNIODQuMjM1OEw4Ni4zMjM2IDI5LjQ5MzJMODg
        uMjk3MyAyMi40NDAzSDkwLjk1NTNMODcuNjc0NSAzMS44NDQyQzg3LjA0MjkgMzMuNjU3MSA4Ni
        41NDI5IDM0Ljc4IDg2LjE3NDQgMzUuMjEyN0M4NS44MDYgMzUuNjUxNCA4NS4wNjkxIDM1Ljg3M
        DcgODMuOTYzOCAzNS44NzA3QzgzLjc0MTYgMzUuODcwNyA4My41NjMyIDM1Ljg2NzcgODMuNDI4
        NyAzNS44NjE5QzgzLjI5NDIgMzUuODYxOSA4My4wOTI0IDM1Ljg1MzEgODIuODIzNCAzNS44MzU
        2VjMzLjgzNTVaIiBmaWxsPSJibGFjayIvPgo8cGF0aCBkPSJNOTcuNDg3NyAyNy4xMTU5SDEwMC
        43NjlMOTkuMTU0NCAyMi4wMjhMOTcuNDg3NyAyNy4xMTU5Wk05Ny42NTQ0IDE5LjA3MThIMTAwL
        jcwN0wxMDUuMjg2IDMyLjAwMjFIMTAyLjM1NkwxMDEuNTIzIDI5LjM0NDFIOTYuNzU5Nkw5NS44
        NjQ4IDMyLjAwMjFIOTMuMDQwMkw5Ny42NTQ0IDE5LjA3MThaIiBmaWxsPSJibGFjayIvPgo8cGF
        0aCBkPSJNMTEwLjI3NCAzMi4wMDIxSDEwNy41OVYxOS4wNzE4SDExMC4yNzRWMzIuMDAyMVoiIG
        ZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik0xMDUuOTk3IDE5LjA3MThIMTExLjY4MVYyMS4yNzEyS
        DEwNS45OTdWMTkuMDcxOFoiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik0xMDUuOTk3IDI5Ljgw
        NTdIMTExLjY4MVYzMi4wMDUxSDEwNS45OTdWMjkuODA1N1oiIGZpbGw9ImJsYWNrIi8+CjxwYXR
        oIGQ9Ik00Mi44Mjc4IDkuNzE1NThMNDMuODQwMyAxMy44NjM5TDQ0Ljg2NzUgOS43MTU1OEg0NS
        44NjA0TDQ2Ljg5MjUgMTMuODM5M0w0Ny45NjkgOS43MTU1OEg0OC44NTM3TDQ3LjMyNTEgMTQuO
        Tc5Nkg0Ni40MDZMNDUuMzM0NSAxMC45MDVMNDQuMjk3NCAxNC45Nzk2SDQzLjM3ODNMNDEuODU5
        NSA5LjcxNTU4SDQyLjgyNzhaIiBmaWxsPSJibGFjayIvPgo8cGF0aCBkPSJNNDkuNjE4MSA5Ljc
        xNTU4SDUwLjQ1ODVWMTAuNjI0OUM1MC41Mjc0IDEwLjQ0NzkgNTAuNjk2MSAxMC4yMzMzIDUwLj
        k2NDggOS45ODFDNTEuMjMzNSA5LjcyNTQxIDUxLjU0MzEgOS41OTc2MiA1MS44OTM4IDkuNTk3N
        jJDNTEuOTEwMSA5LjU5NzYyIDUxLjkzOCA5LjU5OTI2IDUxLjk3NzMgOS42MDI1NEM1Mi4wMTY2
        IDkuNjA1ODEgNTIuMDgzOCA5LjYxMjM3IDUyLjE3ODggOS42MjIyVjEwLjU1NjFDNTIuMTI2NCA
        xMC41NDYyIDUyLjA3NzIgMTAuNTM5NyA1Mi4wMzE0IDEwLjUzNjRDNTEuOTg4OCAxMC41MzMxID
        UxLjk0MTMgMTAuNTMxNSA1MS44ODg4IDEwLjUzMTVDNTEuNDQzMiAxMC41MzE1IDUxLjEwMDggM
        TAuNjc1NyA1MC44NjE2IDEwLjk2NEM1MC42MjI0IDExLjI0OTEgNTAuNTAyOCAxMS41Nzg0IDUw
        LjUwMjggMTEuOTUxOVYxNC45Nzk2SDQ5LjYxODFWOS43MTU1OFoiIGZpbGw9ImJsYWNrIi8+Cjx
        wYXRoIGQ9Ik01Mi44NDQ5IDkuNzQwMTZINTMuNzQ0NFYxNC45Nzk2SDUyLjg0NDlWOS43NDAxNl
        pNNTIuODQ0OSA3Ljc1OTM4SDUzLjc0NDRWOC43NjIwNkg1Mi44NDQ5VjcuNzU5MzhaIiBmaWxsP
        SJibGFjayIvPgo8cGF0aCBkPSJNNTUuMTYyNSA4LjI0NTk3SDU2LjA1N1Y5LjcxNTU4SDU2Ljg5
        NzVWMTAuNDM4MUg1Ni4wNTdWMTMuODczN0M1Ni4wNTcgMTQuMDU3MiA1Ni4xMTkzIDE0LjE4MDE
        gNTYuMjQzOCAxNC4yNDI0QzU2LjMxMjYgMTQuMjc4NCA1Ni40MjczIDE0LjI5NjQgNTYuNTg3OS
        AxNC4yOTY0QzU2LjYzMDUgMTQuMjk2NCA1Ni42NzYzIDE0LjI5NjQgNTYuNzI1NSAxNC4yOTY0Q
        zU2Ljc3NDYgMTQuMjkzMiA1Ni44MzIgMTQuMjg4MyA1Ni44OTc1IDE0LjI4MTdWMTQuOTc5NkM1
        Ni43OTU5IDE1LjAwOTEgNTYuNjg5NCAxNS4wMzA0IDU2LjU3OCAxNS4wNDM1QzU2LjQ2OTkgMTU
        uMDU2NiA1Ni4zNTE5IDE1LjA2MzIgNTYuMjI0MSAxNS4wNjMyQzU1LjgxMTMgMTUuMDYzMiA1NS
        41MzExIDE0Ljk1ODMgNTUuMzgzNyAxNC43NDg2QzU1LjIzNjIgMTQuNTM1NiA1NS4xNjI1IDE0L
        jI2MDQgNTUuMTYyNSAxMy45MjI5VjEwLjQzODFINTQuNDQ5OFY5LjcxNTU4SDU1LjE2MjVWOC4y
        NDU5N1oiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik01Ny44NjM0IDguMjQ1OTdINTguNzU4Vjk
        uNzE1NThINTkuNTk4NFYxMC40MzgxSDU4Ljc1OFYxMy44NzM3QzU4Ljc1OCAxNC4wNTcyIDU4Lj
        gyMDIgMTQuMTgwMSA1OC45NDQ3IDE0LjI0MjRDNTkuMDEzNiAxNC4yNzg0IDU5LjEyODIgMTQuM
        jk2NCA1OS4yODg4IDE0LjI5NjRDNTkuMzMxNCAxNC4yOTY0IDU5LjM3NzMgMTQuMjk2NCA1OS40
        MjY0IDE0LjI5NjRDNTkuNDc1NiAxNC4yOTMyIDU5LjUzMjkgMTQuMjg4MyA1OS41OTg0IDE0LjI
        4MTdWMTQuOTc5NkM1OS40OTY5IDE1LjAwOTEgNTkuMzkwNCAxNS4wMzA0IDU5LjI3OSAxNS4wND
        M1QzU5LjE3MDggMTUuMDU2NiA1OS4wNTI5IDE1LjA2MzIgNTguOTI1MSAxNS4wNjMyQzU4LjUxM
        jIgMTUuMDYzMiA1OC4yMzIxIDE0Ljk1ODMgNTguMDg0NiAxNC43NDg2QzU3LjkzNzEgMTQuNTM1
        NiA1Ny44NjM0IDE0LjI2MDQgNTcuODYzNCAxMy45MjI5VjEwLjQzODFINTcuMTUwN1Y5LjcxNTU
        4SDU3Ljg2MzRWOC4yNDU5N1oiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik02Mi41Nzk1IDkuNT
        k3NjJDNjIuOTUzMSA5LjU5NzYyIDYzLjMxNTIgOS42ODYwOSA2My42NjU4IDkuODYzMDRDNjQuM
        DE2NCAxMC4wMzY3IDY0LjI4MzQgMTAuMjYyOCA2NC40NjY5IDEwLjU0MTNDNjQuNjQzOSAxMC44
        MDY3IDY0Ljc2MTkgMTEuMTE2NCA2NC44MjA4IDExLjQ3MDNDNjQuODczMyAxMS43MTI3IDY0Ljg
        5OTUgMTIuMDk5NCA2NC44OTk1IDEyLjYzMDJINjEuMDQxMUM2MS4wNTc1IDEzLjE2NDMgNjEuMT
        gzNyAxMy41OTM2IDYxLjQxOTYgMTMuOTE4QzYxLjY1NTUgMTQuMjM5MSA2Mi4wMjA5IDE0LjM5O
        TcgNjIuNTE1NyAxNC4zOTk3QzYyLjk3NzcgMTQuMzk5NyA2My4zNDYzIDE0LjI0NzMgNjMuNjIx
        NSAxMy45NDI2QzYzLjc3ODggMTMuNzY1NiA2My44OTAyIDEzLjU2MDggNjMuOTU1OCAxMy4zMjg
        ySDY0LjgyNTdDNjQuODAyOCAxMy41MjE1IDY0LjcyNTggMTMuNzM3OCA2NC41OTQ3IDEzLjk3N0
        M2NC40NjY5IDE0LjIxMjkgNjQuMzIyOCAxNC40MDYyIDY0LjE2MjIgMTQuNTU2OUM2My44OTM1I
        DE0LjgxOTEgNjMuNTYwOSAxNC45OTYgNjMuMTY0NCAxNS4wODc4QzYyLjk1MTUgMTUuMTQwMiA2
        Mi43MTA2IDE1LjE2NjQgNjIuNDQxOSAxNS4xNjY0QzYxLjc4NjYgMTUuMTY2NCA2MS4yMzEyIDE
        0LjkyODkgNjAuNzc1NyAxNC40NTM3QzYwLjMyMDIgMTMuOTc1MyA2MC4wOTI1IDEzLjMwNjkgNj
        AuMDkyNSAxMi40NDg0QzYwLjA5MjUgMTEuNjAzIDYwLjMyMTkgMTAuOTE2NSA2MC43ODA2IDEwL
        jM4OUM2MS4yMzk0IDkuODYxNCA2MS44MzkgOS41OTc2MiA2Mi41Nzk1IDkuNTk3NjJaTTYzLjk5
        MDIgMTEuOTI3NEM2My45NTQxIDExLjU0NCA2My44NzA2IDExLjIzNzYgNjMuNzM5NSAxMS4wMDg
        zQzYzLjQ5NyAxMC41ODIzIDYzLjA5MjQgMTAuMzY5MyA2Mi41MjU1IDEwLjM2OTNDNjIuMTE5Mi
        AxMC4zNjkzIDYxLjc3ODQgMTAuNTE2NyA2MS41MDMxIDEwLjgxMTZDNjEuMjI3OSAxMS4xMDMzI
        DYxLjA4MjEgMTEuNDc1MiA2MS4wNjU3IDExLjkyNzRINjMuOTkwMloiIGZpbGw9ImJsYWNrIi8+
        CjxwYXRoIGQ9Ik02NS44OSA5LjcxNTU4SDY2LjczMDRWMTAuNDYyN0M2Ni45Nzk1IDEwLjE1NDc
        gNjcuMjQzMyA5LjkzMzQ5IDY3LjUyMTggOS43OTkxNEM2Ny44MDAzIDkuNjY0NzkgNjguMTA5OS
        A5LjU5NzYyIDY4LjQ1MDcgOS41OTc2MkM2OS4xOTc4IDkuNTk3NjIgNjkuNzAyNCA5Ljg1ODEyI
        DY5Ljk2NDYgMTAuMzc5MUM3MC4xMDg3IDEwLjY2NDIgNzAuMTgwOCAxMS4wNzIxIDcwLjE4MDgg
        MTEuNjAzVjE0Ljk3OTZINjkuMjgxNFYxMS42NjJDNjkuMjgxNCAxMS4zNDA4IDY5LjIzMzkgMTE
        uMDgyIDY5LjEzODggMTAuODg1NEM2OC45ODE2IDEwLjU1NzcgNjguNjk2NSAxMC4zOTM5IDY4Lj
        I4MzYgMTAuMzkzOUM2OC4wNzM5IDEwLjM5MzkgNjcuOTAxOSAxMC40MTUyIDY3Ljc2NzUgMTAuN
        DU3OEM2Ny41MjUgMTAuNTI5OSA2Ny4zMTIxIDEwLjY3NCA2Ny4xMjg2IDEwLjg5MDNDNjYuOTgx
        MSAxMS4wNjQgNjYuODg0NCAxMS4yNDQyIDY2LjgzODYgMTEuNDMxQzY2Ljc5NiAxMS42MTQ0IDY
        2Ljc3NDcgMTEuODc4MiA2Ni43NzQ3IDEyLjIyMjNWMTQuOTc5Nkg2NS44OVY5LjcxNTU4WiIgZm
        lsbD0iYmxhY2siLz4KPHBhdGggZD0iTTc0LjAyNDYgNy43MzQ4SDc0Ljg4NDhWMTAuMzU0NUM3N
        S4wNzgxIDEwLjEwMjIgNzUuMzA5MSA5LjkxMDU1IDc1LjU3NzggOS43Nzk0OEM3NS44NDY1IDku
        NjQ1MTMgNzYuMTM4MSA5LjU3Nzk2IDc2LjQ1MjcgOS41Nzc5NkM3Ny4xMDggOS41Nzc5NiA3Ny4
        2Mzg5IDkuODA0MDYgNzguMDQ1MiAxMC4yNTYyQzc4LjQ1NDggMTAuNzA1MiA3OC42NTk2IDExLj
        M2ODcgNzguNjU5NiAxMi4yNDY5Qzc4LjY1OTYgMTMuMDc5MSA3OC40NTggMTMuNzcwNSA3OC4wN
        TUgMTQuMzIxQzc3LjY1MiAxNC44NzE1IDc3LjA5MzMgMTUuMTQ2OCA3Ni4zNzkgMTUuMTQ2OEM3
        NS45NzkyIDE1LjE0NjggNzUuNjQxNyAxNS4wNTAxIDc1LjM2NjUgMTQuODU2OEM3NS4yMDI2IDE
        0Ljc0MjEgNzUuMDI3MyAxNC41NTg2IDc0Ljg0MDUgMTQuMzA2M1YxNC45Nzk2SDc0LjAyNDZWNy
        43MzQ4Wk03Ni4zMjQ5IDE0LjM2NTNDNzYuODAzMyAxNC4zNjUzIDc3LjE2MDUgMTQuMTc1MiA3N
        y4zOTY0IDEzLjc5NTFDNzcuNjM1NiAxMy40MTUgNzcuNzU1MiAxMi45MTM3IDc3Ljc1NTIgMTIu
        MjkxMUM3Ny43NTUyIDExLjczNzMgNzcuNjM1NiAxMS4yNzg2IDc3LjM5NjQgMTAuOTE0OUM3Ny4
        xNjA1IDEwLjU1MTEgNzYuODExNSAxMC4zNjkzIDc2LjM0OTUgMTAuMzY5M0M3NS45NDY0IDEwLj
        M2OTMgNzUuNTkyNiAxMC41MTg0IDc1LjI4NzggMTAuODE2NkM3NC45ODY0IDExLjExNDcgNzQuO
        DM1NiAxMS42MDYzIDc0LjgzNTYgMTIuMjkxMUM3NC44MzU2IDEyLjc4NTkgNzQuODk3OSAxMy4x
        ODczIDc1LjAyMjQgMTMuNDk1M0M3NS4yNTUgMTQuMDc1MyA3NS42ODkyIDE0LjM2NTMgNzYuMzI
        0OSAxNC4zNjUzWiIgZmlsbD0iYmxhY2siLz4KPHBhdGggZD0iTTgyLjg4NDIgOS43MTU1OEg4My
        44NjIzQzgzLjczNzggMTAuMDUzMSA4My40NjA5IDEwLjgyMzEgODMuMDMxNiAxMi4wMjU3QzgyL
        jcxMDUgMTIuOTMwMSA4Mi40NDE4IDEzLjY2NzMgODIuMjI1NiAxNC4yMzc1QzgxLjcxNDQgMTUu
        NTgwOSA4MS4zNTQgMTYuNDAwMSA4MS4xNDQyIDE2LjY5NUM4MC45MzQ1IDE2Ljk4OTkgODAuNTc
        0MSAxNy4xMzc0IDgwLjA2MjkgMTcuMTM3NEM3OS45Mzg0IDE3LjEzNzQgNzkuODQxNyAxNy4xMz
        I1IDc5Ljc3MjkgMTcuMTIyNkM3OS43MDc0IDE3LjExMjggNzkuNjI1NSAxNy4wOTQ4IDc5LjUyN
        zIgMTcuMDY4NlYxNi4yNjI1Qzc5LjY4MTIgMTYuMzA1MSA3OS43OTI2IDE2LjMzMTMgNzkuODYx
        NCAxNi4zNDExQzc5LjkzMDIgMTYuMzUxIDc5Ljk5MDggMTYuMzU1OSA4MC4wNDMzIDE2LjM1NTl
        DODAuMjA3MSAxNi4zNTU5IDgwLjMyNjcgMTYuMzI4IDgwLjQwMjEgMTYuMjcyM0M4MC40ODA3ID
        E2LjIxOTkgODAuNTQ2MiAxNi4xNTQ0IDgwLjU5ODcgMTYuMDc1N0M4MC42MTUxIDE2LjA0OTUgO
        DAuNjc0IDE1LjkxNTIgODAuNzc1NiAxNS42NzI3QzgwLjg3NzIgMTUuNDMwMiA4MC45NTA5IDE1
        LjI1IDgwLjk5NjggMTUuMTMyTDc5LjA1MDQgOS43MTU1OEg4MC4wNTMxTDgxLjQ2MzcgMTQuMDA
        xNUw4Mi44ODQyIDkuNzE1NThaIiBmaWxsPSJibGFjayIvPgo8cGF0aCBkPSJNODcuMjI5MyA3Lj
        czNDhIODguMTE0VjEwLjQyODNDODguMzIzNyAxMC4xNjI5IDg4LjUxMjIgOS45NzYwOCA4OC42N
        zkzIDkuODY3OTVDODguOTY0MyA5LjY4MTE4IDg5LjMxOTkgOS41ODc3OSA4OS43NDU4IDkuNTg3
        NzlDOTAuNTA5MyA5LjU4Nzc5IDkxLjAyNyA5Ljg1NDg0IDkxLjI5OSAxMC4zODlDOTEuNDQ2NSA
        xMC42ODA2IDkxLjUyMDIgMTEuMDg1MyA5MS41MjAyIDExLjYwM1YxNC45Nzk2SDkwLjYxMDlWMT
        EuNjYyQzkwLjYxMDkgMTEuMjc1MyA5MC41NjE4IDEwLjk5MTkgOTAuNDYzNSAxMC44MTE2QzkwL
        jMwMjkgMTAuNTIzMyA5MC4wMDE0IDEwLjM3OTEgODkuNTU5MSAxMC4zNzkxQzg5LjE5MjEgMTAu
        Mzc5MSA4OC44NTk1IDEwLjUwNTMgODguNTYxMyAxMC43NTc2Qzg4LjI2MzEgMTEuMDA5OSA4OC4
        xMTQgMTEuNDg2NyA4OC4xMTQgMTIuMTg3OVYxNC45Nzk2SDg3LjIyOTNWNy43MzQ4WiIgZmlsbD
        0iYmxhY2siLz4KPHBhdGggZD0iTTkzLjYxNjYgOS43MTU1OFYxMy4yMTAyQzkzLjYxNjYgMTMuN
        Dc4OSA5My42NTkyIDEzLjY5ODQgOTMuNzQ0NCAxMy44Njg4QzkzLjkwMTcgMTQuMTgzNCA5NC4x
        OTQ5IDE0LjM0MDcgOTQuNjI0MiAxNC4zNDA3Qzk1LjI0MDIgMTQuMzQwNyA5NS42NTk2IDE0LjA
        2NTQgOTUuODgyNCAxMy41MTQ5Qzk2LjAwMzcgMTMuMjIgOTYuMDY0MyAxMi44MTU0IDk2LjA2ND
        MgMTIuMzAwOVY5LjcxNTU4SDk2Ljk0OVYxNC45Nzk2SDk2LjExMzRMOTYuMTIzMyAxNC4yMDMxQ
        zk2LjAwODYgMTQuNDAyOSA5NS44NjYgMTQuNTcxNyA5NS42OTU3IDE0LjcwOTNDOTUuMzU4MiAx
        NC45ODQ2IDk0Ljk0ODYgMTUuMTIyMiA5NC40NjY5IDE1LjEyMjJDOTMuNzE2NSAxNS4xMjIyIDk
        zLjIwNTMgMTQuODcxNSA5Mi45MzM0IDE0LjM3MDJDOTIuNzg1OSAxNC4xMDE1IDkyLjcxMjIgMT
        MuNzQyNyA5Mi43MTIyIDEzLjI5MzhWOS43MTU1OEg5My42MTY2WiIgZmlsbD0iYmxhY2siLz4KP
        HBhdGggZD0iTTk4LjIzNDQgOS43MTU1OEg5OS4xMDkzVjEwLjQ2MjdDOTkuMzE5IDEwLjIwMzgg
        OTkuNTA5MSAxMC4wMTU0IDk5LjY3OTQgOS44OTc0NEM5OS45NzExIDkuNjk3NTYgMTAwLjMwMiA
        5LjU5NzYyIDEwMC42NzIgOS41OTc2MkMxMDEuMDkyIDkuNTk3NjIgMTAxLjQyOSA5LjcwMDg0ID
        EwMS42ODUgOS45MDcyN0MxMDEuODI5IDEwLjAyNTIgMTAxLjk2IDEwLjE5ODkgMTAyLjA3OCAxM
        C40MjgzQzEwMi4yNzUgMTAuMTQ2NSAxMDIuNTA2IDkuOTM4NCAxMDIuNzcxIDkuODA0MDZDMTAz
        LjAzNiA5LjY2NjQzIDEwMy4zMzUgOS41OTc2MiAxMDMuNjY2IDkuNTk3NjJDMTA0LjM3MyA5LjU
        5NzYyIDEwNC44NTUgOS44NTMyMSAxMDUuMTExIDEwLjM2NDRDMTA1LjI0OCAxMC42Mzk2IDEwNS
        4zMTcgMTEuMDA5OSAxMDUuMzE3IDExLjQ3NTJWMTQuOTc5NkgxMDQuMzk4VjExLjMyMjhDMTA0L
        jM5OCAxMC45NzIyIDEwNC4zMDkgMTAuNzMxNCAxMDQuMTMzIDEwLjYwMDNDMTAzLjk1OSAxMC40
        NjkyIDEwMy43NDYgMTAuNDAzNyAxMDMuNDk0IDEwLjQwMzdDMTAzLjE0NiAxMC40MDM3IDEwMi4
        4NDYgMTAuNTIgMTAyLjU5NCAxMC43NTI3QzEwMi4zNDUgMTAuOTg1MyAxMDIuMjIxIDExLjM3Mz
        YgMTAyLjIyMSAxMS45MTc1VjE0Ljk3OTZIMTAxLjMyMVYxMS41NDRDMTAxLjMyMSAxMS4xODY4I
        DEwMS4yNzggMTAuOTI2MyAxMDEuMTkzIDEwLjc2MjVDMTAxLjA1OSAxMC41MTY3IDEwMC44MDgg
        MTAuMzkzOSAxMDAuNDQxIDEwLjM5MzlDMTAwLjEwNyAxMC4zOTM5IDk5LjgwMjMgMTAuNTIzMyA
        5OS41MjcxIDEwLjc4MjJDOTkuMjU1MSAxMS4wNDEgOTkuMTE5MSAxMS41MDk2IDk5LjExOTEgMT
        IuMTg3OVYxNC45Nzk2SDk4LjIzNDRWOS43MTU1OFoiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9I
        k0xMDcuMTk3IDEzLjU3ODhDMTA3LjE5NyAxMy44MzQ0IDEwNy4yOTEgMTQuMDM1OSAxMDcuNDc3
        IDE0LjE4MzRDMTA3LjY2NCAxNC4zMzA5IDEwNy44ODUgMTQuNDA0NiAxMDguMTQxIDE0LjQwNDZ
        DMTA4LjQ1MiAxNC40MDQ2IDEwOC43NTQgMTQuMzMyNSAxMDkuMDQ1IDE0LjE4ODNDMTA5LjUzNy
        AxMy45NDkxIDEwOS43ODMgMTMuNTU3NSAxMDkuNzgzIDEzLjAxMzZWMTIuMzAwOUMxMDkuNjc0I
        DEyLjM2OTcgMTA5LjUzNSAxMi40MjcxIDEwOS4zNjUgMTIuNDcyOUMxMDkuMTk0IDEyLjUxODgg
        MTA5LjAyNyAxMi41NTE2IDEwOC44NjMgMTIuNTcxM0wxMDguMzI4IDEyLjY0MDFDMTA4LjAwNyA
        xMi42ODI3IDEwNy43NjYgMTIuNzQ5OCAxMDcuNjA1IDEyLjg0MTZDMTA3LjMzMyAxMi45OTU2ID
        EwNy4xOTcgMTMuMjQxMyAxMDcuMTk3IDEzLjU3ODhaTTEwOS4zNCAxMS43ODk4QzEwOS41NDMgM
        TEuNzYzNSAxMDkuNjc5IDExLjY3ODMgMTA5Ljc0OCAxMS41MzQyQzEwOS43ODcgMTEuNDU1NSAx
        MDkuODA3IDExLjM0MjUgMTA5LjgwNyAxMS4xOTVDMTA5LjgwNyAxMC44OTM2IDEwOS42OTkgMTA
        uNjc1NyAxMDkuNDgzIDEwLjU0MTNDMTA5LjI3IDEwLjQwMzcgMTA4Ljk2MyAxMC4zMzQ5IDEwOC
        41NjQgMTAuMzM0OUMxMDguMTAyIDEwLjMzNDkgMTA3Ljc3NCAxMC40NTk0IDEwNy41ODEgMTAuN
        zA4NEMxMDcuNDcyIDEwLjg0NjEgMTA3LjQwMiAxMS4wNTA4IDEwNy4zNjkgMTEuMzIyOEgxMDYu
        NTQzQzEwNi41NiAxMC42NzQgMTA2Ljc3IDEwLjIyMzUgMTA3LjE3MyA5Ljk3MTE3QzEwNy41Nzk
        gOS43MTU1OCAxMDguMDQ5IDkuNTg3NzkgMTA4LjU4MyA5LjU4Nzc5QzEwOS4yMDMgOS41ODc3OS
        AxMDkuNzA2IDkuNzA1NzUgMTEwLjA5MiA5Ljk0MTY4QzExMC40NzYgMTAuMTc3NiAxMTAuNjY3I
        DEwLjU0NDYgMTEwLjY2NyAxMS4wNDI3VjE0LjA3NTNDMTEwLjY2NyAxNC4xNjcgMTEwLjY4NSAx
        NC4yNDA3IDExMC43MjEgMTQuMjk2NEMxMTAuNzYxIDE0LjM1MjIgMTEwLjg0MSAxNC4zOCAxMTA
        uOTYyIDE0LjM4QzExMS4wMDEgMTQuMzggMTExLjA0NiAxNC4zNzg0IDExMS4wOTUgMTQuMzc1MU
        MxMTEuMTQ0IDE0LjM2ODUgMTExLjE5NiAxNC4zNjAzIDExMS4yNTIgMTQuMzUwNVYxNS4wMDQyQ
        zExMS4xMTQgMTUuMDQzNSAxMTEuMDEgMTUuMDY4MSAxMTAuOTM4IDE1LjA3NzlDMTEwLjg2NSAx
        NS4wODc4IDExMC43NjcgMTUuMDkyNyAxMTAuNjQzIDE1LjA5MjdDMTEwLjMzOCAxNS4wOTI3IDE
        xMC4xMTcgMTQuOTg0NiAxMDkuOTc5IDE0Ljc2ODNDMTA5LjkwNyAxNC42NTM2IDEwOS44NTYgMT
        QuNDkxNCAxMDkuODI3IDE0LjI4MTdDMTA5LjY0NyAxNC41MTc2IDEwOS4zODggMTQuNzIyNCAxM
        DkuMDUgMTQuODk2MUMxMDguNzEzIDE1LjA2OTggMTA4LjM0MSAxNS4xNTY2IDEwNy45MzQgMTUu
        MTU2NkMxMDcuNDQ2IDE1LjE1NjYgMTA3LjA0NiAxNS4wMDkxIDEwNi43MzUgMTQuNzE0MkMxMDY
        uNDI3IDE0LjQxNiAxMDYuMjczIDE0LjA0NDEgMTA2LjI3MyAxMy41OTg1QzEwNi4yNzMgMTMuMT
        EwMyAxMDYuNDI1IDEyLjczMTggMTA2LjczIDEyLjQ2MzFDMTA3LjAzNSAxMi4xOTQ0IDEwNy40M
        zUgMTIuMDI5IDEwNy45MyAxMS45NjY3TDEwOS4zNCAxMS43ODk4WiIgZmlsbD0iYmxhY2siLz4K
        PHBhdGggZD0iTTExMi4wMjEgOS43MTU1OEgxMTIuODYyVjEwLjQ2MjdDMTEzLjExMSAxMC4xNTQ
        3IDExMy4zNzUgOS45MzM0OSAxMTMuNjUzIDkuNzk5MTRDMTEzLjkzMiA5LjY2NDc5IDExNC4yND
        EgOS41OTc2MiAxMTQuNTgyIDkuNTk3NjJDMTE1LjMyOSA5LjU5NzYyIDExNS44MzQgOS44NTgxM
        iAxMTYuMDk2IDEwLjM3OTFDMTE2LjI0IDEwLjY2NDIgMTE2LjMxMiAxMS4wNzIxIDExNi4zMTIg
        MTEuNjAzVjE0Ljk3OTZIMTE1LjQxM1YxMS42NjJDMTE1LjQxMyAxMS4zNDA4IDExNS4zNjUgMTE
        uMDgyIDExNS4yNyAxMC44ODU0QzExNS4xMTMgMTAuNTU3NyAxMTQuODI4IDEwLjM5MzkgMTE0Lj
        QxNSAxMC4zOTM5QzExNC4yMDUgMTAuMzkzOSAxMTQuMDMzIDEwLjQxNTIgMTEzLjg5OSAxMC40N
        Tc4QzExMy42NTcgMTAuNTI5OSAxMTMuNDQ0IDEwLjY3NCAxMTMuMjYgMTAuODkwM0MxMTMuMTEz
        IDExLjA2NCAxMTMuMDE2IDExLjI0NDIgMTEyLjk3IDExLjQzMUMxMTIuOTI3IDExLjYxNDQgMTE
        yLjkwNiAxMS44NzgyIDExMi45MDYgMTIuMjIyM1YxNC45Nzk2SDExMi4wMjFWOS43MTU1OFoiIG
        ZpbGw9ImJsYWNrIi8+Cjwvc3ZnPg=="></a>
    </div>

  </div>

</footer>